{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Load compiled CSS from Webpack Encore #}
    {{ encore_entry_link_tags('servicenew') }}
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Edit Service</h2>

    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="actions">
        <a href="{{ path('app_service_index') }}" class="btn btn-cancel">Cancel</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('servicenew') }}
{% endblock %}
