{% extends 'base.html.twig' %}

{% block title %}Create New Order{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ordersform') }}
{% endblock %}

{% block body %}
<div class="order-form-container">
    <h1>Create New Order</h1>

    {{ include('order/_form.html.twig') }}

    <div class="form-actions">
        <button type="submit" form="order_form" class="btn btn-primary">💾 Save Order</button>
        <a href="{{ path('app_order_index') }}" class="btn btn-secondary">↩ Back to List</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ordersform') }}
{% endblock %}
